.tisso-banner {
  background:#fff;
  padding: 40px;
  text-align: center;
}
.tisso-header {
  display:flex;
  justify-content: space-between; 
}
.choose.btn {
  background: yellow;
  padding: 10px 20px;
  transition: 0.3s;
}
.choose.btn:hover {
  transform:scale(1.05);
}
.shop-btn{
    background: black;
    color: white;
    padding: 15px 40px;
    display: inline-block;
    margin-top: 20px;
    transition:0.3s; 
}
.shop-btn:hover {
    transform: scale(1.05);
}

/* this is for grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-item{
    position: relative;
    cursor:pointer;
}
.grid-item img {
    width: 100%;
}
.plus-icon {
    position: absolute;
    top: 10%;
    right: 10%;
    background: white;
    border-radius: 50%;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* for our POP-UP */

.tisso-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.popu-box {
  background: white;
  padding: 30px;
  width: 100px;
  max-width: 400px;
}
.popup-close{
    float:right;
    cursor:pointer;
}
/* for mobile view */
@media (max-width: 768px) {
.grid-container {
  grid-template-columns: 1fr 1fr;
}
}